<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fan | Tahrirlash</title>
</head>
<body>
  <h1>{{fan.nom}}ni tahrirlash</h1>
  <hr>
  <form method = 'post'>
      {% csrf_token %}
    <label>Nom</label>
      <input type="text" name="nom" value="{{fan.nom}}" id="nom">
      <br><br>
    <label>Yo'nalish</label>
      <select name="yonalish_id" id="yonalish">
          <option value="{{fan.yonalish.id}}">{{fan.yonalish.nom}}</option>
          {% for yonalish in yonalishlar %}
          {% if yonalish != fan.yonalish %}
          <option value="{{yonalish.id}}">{{yonalish.nom}}</option>
          {% endif %}
          {% endfor %}e
      </select>
      <br><br>
    <label>Asosiy</label>
      <input type="text" name="asosiy" value="{{fan.asosiy}}" id="asosiy">
      <br><br>
      <a href="/fanlar/">
          <button type="button">Bekor qilish</button>
      </a>
      <button type="submit">Tasdiqlash</button>
  </form>
</body>
</html>