<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fan | {{fan.nom}}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6
        }
         h2 {
            color: blue;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1>{{fan.nom}} haqida</h1>
    <hr>
    <a style = "text-decoration: none" href = '/home/'>Bosh sahifa</a>
    <br>
    <a style = "text-decoration: none" href = '/fanlar/'>Fanlar</a>
    <p>Yo'nalish: {{fan.yonalish}}</p>
    <p>Asosiy: {{fan.asosiy}}</p>
</body>
</html>