<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bosh sahifa</title>
        <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6
        }
         h2 {
            color: blue;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
  <h1>Universitet</h1>
  <p>Sana: {{ today }}</p>
  <hr>
  <a style = "text-decoration: none" href = "/yonalishlar/" >Yo'nalish</a>
  <a style = "text-decoration: none" href = "/fanlar/" >Fan</a>
  <a style = "text-decoration: none" href = "/ustozlar/" >Ustoz</a>

</body>
</html>