<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yo'nalishlar ro'yxati</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6
        }
         h2 {
            color: blue;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1>Yo'nalishlar ro'yxati</h1>
    <a style = "text-decoration: none" href = '/home'>Bosh sahifa</a>
    <hr>
    {% for yonalish in yonalishlar %}
    <p>{{ forloop.counter }}.
        <a style = "text-decoration:none" href = '/yonalishlar/{{yonalish.id}}/'>
            {{yonalish.nom}}
        </a>
        <button>
            <a style = "text-decoration: none" href = '/yonalish/{{yonalish.id}}/delete/'>O'chirish</a>
        </button>
        <button>
            <a style = "text-decoration: none" href = '/yonalish/{{yonalish.id}}/update/'>Tahrirlash</a>
        </button>
    </p>
    {% endfor %}
</body>
</html>