<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yo'nalish | {{yonalish.nom}}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6
        }
         h2 {
            color: blue;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
  <h1>{{yonalish.nom}} haqida</h1>
  <a style = "text-decoration:none" href="/home/">Bosh sahifa</a>
  <br>
  <a style = "text-decoration:none" href="/yonalishlar/">Yo'nalishlar</a>
  <hr>
  <p>Aktiv: {{yonalish.aktiv}}</p>
</body>
</html>